* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: cursive;
}

/*HOME PAGE CSS*/

.home_header {
    width: 100%;
    background-color: #6bb5ff;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_section {
    height: 160px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px;
    border-bottom: 3px solid black;
}

#vacoe-logo {
    height: 140px;
    width: 140px;

    margin-left: 10px;
    border-radius: 50%;
    border: 3px solid black;
}

#grade {
    height: 130px;
    width: 150px;
}

#home_header_d2 {
    flex-wrap: wrap;
}
#home_header_d2 h2 {
    font-size: 2rem;
    letter-spacing: 1px;

    margin-bottom: 20px;
    margin-left: 10px;
}

#home_header_d2 p {
    color: black;
    font-weight: bold;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 20px;
}

#home_header_d4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home_header_d4 i {
    font-size: 25px;
    padding: 5px;
    border-radius: 50%;
}

#home_header_d4 i:hover {
    background-color: white;
    border-radius: 30%;
}

#home_header_d4 #home_header_lk_logo {
    color: blue;
}

#home_header_d4 #home_header_yt_logo {
    color: red;
}

#home_header_d4 #home_header_fb_logo {
    color: black;
}

.hero-section1 {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-bottom: 1px solid black;

    background: rgb(255, 255, 255)
}

#navbar {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#navbar a {
    color: white;
    background-color: #66b3ff;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 120px;

    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px;
    text-align: center;

    margin: 5px;
}

#navbar a:hover {
    transform: translateY(-4px);
    transition: 0.3s;
    /* background-color: #20a6ff; */
    background: linear-gradient(to right,rgba(133, 133, 133, 0.4),rgb(0, 179, 255));
    color: white;
    font-weight: bold;
}

#navbar a.active {
    background: linear-gradient(to right,rgba(133, 133, 133, 0.4),rgb(0, 179, 255));
}

.hero-section2{
    width: 100%;
    height: 820px;

    background-image: url(photos/main-banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_div1{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

#main_heading_div h2{
    font-family: cursive;
}

#main_heading_div{
    width: fit-content;
    height: fit-content;

    text-align: center;
    padding: 10px;
    font-size: x-large;

    /*
    background: linear-gradient(to right,rgba(133, 133, 133, 0.4),rgb(0, 179, 255),rgba(133, 133, 133, 0.4));
    */
    background-color: rgb(155, 155, 155,0.5);
    box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.5);
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;

    position: absolute;
    top: 0;
    margin-top: 10%;
}

#main_heading_div:hover{
    transform: translateY(-5px) scale(1.02);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    background: linear-gradient(to right,rgba(133, 133, 133, 0.4),rgb(0, 179, 255),rgba(133, 133, 133, 0.4));
}

#information_div{
    position: absolute;
    bottom: 0;

    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    gap: 20px;
}

.d1{
    width: 200px;
    height: 100px;

    color: white;
    padding: 10px;
    letter-spacing: 1px;

    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.4);
}

.d1:hover{
    transform: translateY(-7px);
    transition-duration: 0.4s;

    background: linear-gradient(to left,rgba(0, 183, 255),rgba(0,0,0,0.5));
}

.d1 p{
    text-align: center;
    margin-top: 15px;

    font-family: cursive;
    font-size: 2rem;
}

.d1 h3{
    font-family: cursive;
}

.hero-section3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
}


.hero-section3 div {
    width: 30%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(to right,rgba(133, 133, 133, 0.4),rgb(0, 179, 255));
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    /* border-radius: 10px; */
    border-bottom-right-radius: 20%;
    border-top-left-radius: 40%;
    text-align: center;
}

.hero-section3 div h2{
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: white;

    border-bottom: 2px solid white;
}

.hero-section3 div p {
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;
}

.hero-section3 div:hover {
    transform: translateY(-5px);
    transition: 0.2s;

    background-color: #45a2ff;
}

#home_footer {
    background-color: rgb(0, 179, 255);
    text-align: center;
}

.footer_section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 250px;

    margin-top: 20px;
    border-bottom: 2px solid white;

}

.footer_nav_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 33%;
    border-right: 2px solid white;
}

.footer_nav_div a {
    text-decoration: none;
    padding: 10px;

    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.footer_nav_div a:hover {
    color: blue;
}

.footer_links_div {
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-right: 2px solid white;
}

.footer_links_div a {
    text-decoration: none;
    padding: 10px;

    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.footer_links_div a:hover {
    color: blue;
}

.footer_icons_div {
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer_icons_div h2 {
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;

    margin-bottom: 40px;
}

.footer_icons_div i {
    font-size: 2rem;
    padding: 5px;
    gap: 10px;

    width: fit-content;
    height: fit-content;
}

.footer_icons_div i:hover {
    border-radius: 10px;
    background-color: white;
    color: black;

    transform: translateY(-5px);
    transition: 0.2s;
}

.footer_icons_div #footer_fb_logo {
    color: blue;
}

.footer_icons_div #footer_lk_logo {
    color: black;
}

.footer_icons_div #footer_tw_logo {
    color: rgba(0, 255, 229, 0.822);
}

.footer_icons_div #footer_wp_logo {
    color: greenyellow;
}

.footer_icons_div #footer_yt_logo {
    color: red;
}

.copyright_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: fit-content;

    padding: 10px;
    color: white;
    font-size: 1.1rem;
}

.copyright_section a:hover {
    transform: translateY(-5px);
    text-decoration: none;
    color: rgba(132, 0, 255, 0.833);
    transition: 0.2s;
}



/*ACADEMICS PAGE CSS*/

.main-section {

    background-image: url(photos/academics-banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section h1 {
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

#diploma-heading-div {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#diploma-heading-div div {
    width: 33%;
    text-align: center;
    margin-top: 20px;
}

#diploma-heading-div p {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;

}

.diploma-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.diploma-div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    width: 25%;
    height: 150px;

    color: white;
    background: rgb(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;

    margin: 20px;
    padding: 20px;

    position: relative;
}

.diploma-div:hover {
    transform: translateY(-7px) scale(1.02);
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    background: linear-gradient(to right, rgb(0, 136, 255, 0.7),rgba(0, 0, 0, 0.5));
    /* background: rgb(0, 0, 0, 0.6); */

}

.diploma-div p {
    text-align: center;
    font-size: 1rem;

    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    padding: 10px;
}

.diploma-div h2 {
    font-size: 1.7rem;
    letter-spacing: 1px;
}

#ug-heading-div {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ug-heading-div div {
    width: 33%;
    text-align: center;
    margin-top: 20px;
}

#ug-heading-div p {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.ug-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ug-div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    width: 25%;
    height: 150px;

    color: white;
    background: rgb(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;

    margin: 20px;
    padding: 20px;

    position: relative;
}

.ug-div p {

    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    padding: 10px;

    text-align: center;
    font-size: 1rem;

    /*
    display: flex;
    justify-content: center;
    align-items: center; */
}

.ug-div:hover {
    transform: translateY(-7px);
    transition: 0.3s;
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.7);
    /* background: rgb(0, 0, 0, 0.6); */
    background: linear-gradient(to right, rgb(0, 136, 255, 0.7),rgba(0, 0, 0, 0.5));
}

.ug-div h2 {
    font-size: 1.7rem;
    letter-spacing: 1px;
}

#pg-heading-div {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#pg-heading-div div {
    width: 33%;
    text-align: center;
    margin-top: 20px;
}

#pg-heading-div p {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.pg-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pg-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pg-div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    width: 25%;
    height: 160px;

    color: white;
    background: rgb(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;

    margin: 20px;
    padding: 20px;

    position: relative;
}

.pg-div:hover {
    transform: translateY(-7px);
    transition: 0.3s;
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.7);
    /* background: rgb(0, 0, 0, 0.6); */
    background: linear-gradient(to right, rgb(0, 136, 255, 0.7),rgba(0, 0, 0, 0.5));
}

.pg-div p {

    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    padding: 10px;

    text-align: center;
    font-size: 1rem;

    /*
    display: flex;
    justify-content: center;
    align-items: center; */
}

.pg-div h2 {
    font-size: 1.7rem;
    letter-spacing: 1px;
}

/* ABOUT SECTION */



#about_h1_Section {
    display: flex;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: 10px;
    margin-top: 20px;

}

#about_h1_Section #hrdiv1{
    width: 5%;
    height: 100%;
}
#about_h1_Section #hrdiv2{
    width: 60%;
    height: 100%;
}

#mid_div {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #d9d9d9,#45a2ff);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
}
/* 
#about_h1_Section div {
    width: 33%;
    height: 100%;

    text-align: center;
}

#about_h1_Section div h1 {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;

    background-color: #6bb5ff;
    border-radius: 10px;
    color: white;
    padding: 10px;
}


#mid_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

/* CONTACT PAGE */

.follow_section {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10px;
}

#follow-heading-div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#follow-heading-div div {
    width: 33%;
    height: 100%;
    text-align: center;
}

#follow_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 20px;
}

#follow_div i {
    font-size: 2rem;
    padding: 10px;
}

#follow_div i:hover {
    transform: translateY(-5px) scale(1.02);
    transition-duration: 0.3s;
    color: black;
}

#wp-icon {
    color: greenyellow;
}

#fb-icon {
    color: blue;
}

#yt-icon {
    color: red;
}

#ig-icon {
    color: rgb(255, 138, 157);
}

#lk-icon {
    color: black;
}

#tl-icon {
    color: lightskyblu;
}

#gc-icon {
    color: green;
}

#gmap_div {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

#gmap_div iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

/* 
#info-div{
    width: 100%;
    height: 100%;

    padding: 10px;
    letter-spacing: 1px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

#info-div div{
    width: 30%;
    height: 140px;

    padding: 10px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 12px;

    background: linear-gradient(to bottom,rgb(121, 121, 121),rgb(0, 179, 255,0.9));
}
#info-div div p{
    text-align: center;
    color: white;
    margin-top: 10px;
}
#info-div div h2{
    color: white;
    font-weight: 500;
    border-bottom: 2px solid white;
}

#info-div div:hover{
    background: linear-gradient(to bottom,rgb(0, 179, 255),rgb(121, 121, 121));
    transform: translateY(-3px);
    transition-duration: 0.3s;
}

*/

.info-div {
    width: 100%;
    height: 100%;

    margin-top: 20px;
    letter-spacing: 1px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#info-div-1 {
    width: 33%;
    height: 100%;

    padding: 10px;

}

#info-div-1 div {
    width: 100%;
    height: 140px;

    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom, rgb(0, 179, 255), rgb(169, 169, 169));
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#info-div-1 div h2 {
    font-weight: 500;
    font-size: 1.7rem;
    border-bottom: 1px solid white;
}

#info-div-1 div p {
    text-align: center;
    font-size: 1.1rem;
}

#info-div-1 div:hover {
    background: linear-gradient(to bottom, rgba(169, 169, 169), rgb(0, 179, 255));
}

#info-div-2 {
    width: 33%;
    height: 100%;

    padding: 10px;
    border: 1px solid black;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5%;
    border-bottom-right-radius: 20%;

    background-image: url(photos/academics-banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background: linear-gradient(to bottom,rgba(169, 169, 169),rgb(0, 179, 255),rgba(0,0,0,0.5)); */
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 5px;
    position: relative;
    gap: 40px;

}

/* 
form::after{
    content: '✒️';
    width: fit-content;
    height: fit-content;

    left: 0;
    top: 0;

    position: absolute;
}
*/


form .info {
    padding: 10px;
    width: 100%;
    height: 2rem;

    border: 1px solid gray;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form .info:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-4px);
    transition-duration: 0.3s;
}


form #submit{
    width: 120px;
    height: fit-content;
    padding: 5px;

    color: black;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
    border-radius: 20px;
    border: 2px solid white;
}
form #submit:hover{
    transform: translateY(-5px);
    transition-duration: 0.4s;
    background:linear-gradient(to right,rgba(169, 169, 169), rgb(0, 179, 255));
    color: white;
}

/* LOGIN PAGE */

.style1{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-height: 720px;
    height: 100%;

    padding: 10px;
}

.style1 div{
    width: 500px;
    height: 320px;
   
    padding: 5px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.style1 div img{
    width: 80%;
    height: 80%;
}

.style1 div img:hover{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in;
}
