* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: cursive;
}

/*HOME PAGE CSS*/



.home_header {
    width: 100%;
    /* background-color: rgb(0, 179, 255); */
    background: linear-gradient(to right, rgb(0, 179, 255), 80%, rgba(133, 133, 133, 0.4));
}

.header_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 10px;
}

#home_header_d1 {
    border-radius: 50%;
    padding: 5px;

}

#home_header_d1 img {
    border-radius: 50%;

    width: 140px;
    height: 140px;
    border: 2px solid black;

    text-align: center;
}


#home_header_d3 img {
    border-radius: 30%;

    width: 130px;
    height: 120px;

    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.7);
}

#home_header_d2 {
    text-align: center;
    font-size: 1.2rem;

    padding: 10px;
}

#home_header_d2 h2 {
    margin-bottom: 4%;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

#home_header_d2 p {
    color: white;
    font-weight: 500;
    font-size: 1rem;

}


.hero-section1 {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-bottom: 1px solid black;

    background: rgb(255, 255, 255)
}

#navbar {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#navbar a {
    color: white;
    background-color: rgb(0, 179, 255);

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 120px;

    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px;
    text-align: center;

    margin: 5px;
}

#navbar a:hover {
    transform: translateY(-4px);
    transition: 0.3s;
    /* background-color: #20a6ff; */
    background: linear-gradient(to right, rgb(0, 179, 255), 80%, rgba(133, 133, 133, 0.4));
    color: white;
    font-weight: bold;
}

#navbar a.active {
    background: linear-gradient(to right, rgba(133, 133, 133, 0.4), rgb(0, 179, 255));
}

.hero-section2 {
    width: 100%;
    height: 820px;

    background-image: url(photos/main-banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_div1 {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    position: relative;
}

/* 
#main_heading_div h2{
    font-family: cursive;
}

#main_heading_div{
    width: fit-content;
    height: fit-content;

    text-align: center;
    padding: 10px;
    font-size: x-large;

    /*
    background: linear-gradient(to right,rgba(133, 133, 133, 0.4),rgb(0, 179, 255),rgba(133, 133, 133, 0.4)); *
    
    
    background-color: rgb(155, 155, 155,0.5);
    box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.5);
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;

    position: absolute;
    top: 0;
    margin-top: 10%;
}

*/

.slider {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    white-space: nowrap;


}

/*
.slider2{
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    background: rgba(185, 173, 173, 0.8);
    color: white;
    white-space: nowrap;

    
}
    */

.slide-text {
    display: inline-block;
    padding-left: 100%;

    animation: scrollText 12s linear infinite;

    font-size: 1rem;
    font-weight: bold;
}



.slide-text a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.slide-text span {
    background-color: red;
    padding: 5px 4px;

    color: white;
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}



#main_heading_div:hover {
    transform: translateY(-5px) scale(1.02);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    background: linear-gradient(to right, rgba(133, 133, 133, 0.4), rgb(0, 179, 255), rgba(133, 133, 133, 0.4));
}

#information_div {
    position: absolute;
    bottom: 0;

    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    gap: 20px;
}

.d1 {
    width: 200px;
    height: 100px;

    color: white;
    padding: 10px;
    letter-spacing: 1px;

    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.4);
}

.d1:hover {
    transform: translateY(-7px);
    transition-duration: 0.4s;

    background: linear-gradient(to left, rgba(0, 183, 255), rgba(0, 0, 0, 0.5));
}

.d1 p {
    text-align: center;
    margin-top: 15px;

    font-family: cursive;
    font-size: 2rem;
}

.d1 h3 {
    font-family: cursive;
}

.hero-section3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;

    width: 100%;
    height: fit-content;
    padding: 10px;
    margin-top: 40px;
}


.hero-section3 div {
    width: 350px;
    max-width: 90%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(to right, rgba(133, 133, 133, 0.4), rgb(0, 179, 255));
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    /* border-radius: 10px; */
    border-bottom-right-radius: 20%;
    border-top-left-radius: 40%;
    text-align: center;
}

.hero-section3 div h2 {
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: white;

    border-bottom: 2px solid white;
}

.hero-section3 div p {
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;
}

.hero-section3 div:hover {
    transform: translateY(-5px);
    transition: 0.2s;

    background-color: #45a2ff;
}

#home_footer {
    background-color: rgb(0, 179, 255);
    text-align: center;
}

.footer_section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 250px;

    margin-top: 15px;
    border-bottom: 2px solid white;

}

.footer_nav_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 33%;

}

.footer_nav_div a {
    text-decoration: none;
    padding: 10px;

    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.footer_nav_div a:hover {
    color: blue;
}

.footer_links_div {
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-right: 2px solid white;
    border-left: 2px solid white;
}

.footer_links_div a {
    text-decoration: none;
    padding: 10px;

    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.footer_links_div a:hover {
    color: blue;
}

.footer_icons_div {
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer_icons_div h2 {
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;

    margin-bottom: 40px;
}

.footer_icons_div i {
    font-size: 1.7rem;
    padding: 5px;
    gap: 10px;

    width: fit-content;
    height: fit-content;
}

.footer_icons_div i:hover {
    border-radius: 10px;
    background-color: white;
    color: black;

    transform: translateY(-5px);
    transition: 0.2s;
}

.footer_icons_div #footer_fb_logo {
    color: blue;
}

.footer_icons_div #footer_lk_logo {
    color: black;
}

.footer_icons_div #footer_tw_logo {
    color: rgba(0, 255, 229, 0.822);
}

.footer_icons_div #footer_wp_logo {
    color: greenyellow;
}

.footer_icons_div #footer_yt_logo {
    color: red;
}

.copyright_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: fit-content;

    padding: 10px;
    color: white;
    font-size: 1.1rem;
}

.copyright_section a {
    color: black;
}


/* FACILITIES PAGE */
/**************************************/

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: 100%;
    height: auto;
    gap: 4px;
    margin-top: 4px;


    transition: grid-template-columns 1s;
}

.grid1 img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}

.grid1:has(.classroom:hover) {
    grid-template-columns: 2.5fr .5fr .5fr .5fr;
}

.grid1:has(.library:hover) {
    grid-template-columns: .5fr 2.5fr .5fr .5fr;
}

.grid1:has(.ground:hover) {
    grid-template-columns: .5fr .5fr 2.5fr .5fr;
}

.grid1:has(.lab:hover) {
    grid-template-columns: .5fr .5fr .5fr 2.5fr;
}

/*
.fac_list{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;

}

#basic_text{
    width: 20%;
    height: fit-content;

    background: linear-gradient(to right, rgba(133, 133, 133, 0.4),rgb(0, 179, 255));
    padding: 10px;
    text-align: center;
}
*/

@media (max-width: 768px) {
    .grid1 {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    width: 100%;
    height: auto;
    gap: 4px;


    transition: grid-template-columns 1s;
    margin-top: 4px
}

.grid3 img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}

.grid3:has(.campus1:hover) {
    grid-template-columns: 1.5fr .5fr .5fr .5fr .5fr;
}

.grid3:has(.campus2:hover) {
    grid-template-columns: .5fr 1.5fr .5fr .5fr .5fr;
}

.grid3:has(.campus3:hover) {
    grid-template-columns: .5fr .5fr 1.5fr .5fr .5fr;
}

.grid3:has(.campus4:hover) {
    grid-template-columns: .5fr .5fr .5fr 1.5fr .5fr;
}

.grid3:has(.campus5:hover) {
    grid-template-columns: .5fr .5fr .5fr .5fr 1.5fr;
}

.facilities_heading {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #45a2ff, 80%, white);
    color: white;
    font-weight: bold;
}

.facilities_heading h2 {
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.facilities_heading p {
    font-size: 1.2rem;
}


/* ACADEMICS PAGE */
/**************************************/

.main_section {
    width: 100%;

    background-image: url(photos/academics-banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 1rem;
    letter-spacing: 1px;
    user-select: none;
}

.diploma_heading_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diploma_heading_div div {
    width: 33%;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.diploma_section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.diploma_div {
    max-width: 420px;
    width: 100%;
    height: 150px;

    padding: 10px;
    margin: 20px;

    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 1px 0px 2px 1px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: white;
    font-weight: bold;

    position: relative;
}


.diploma_div p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;

    position: absolute;
    bottom: 0;
}

.diploma_div h2 {
    text-align: center;
    font-size: 1.8rem;
}

.diploma_div:hover {
    transform: translateY(-5px) scale(1.04);
    transition-duration: 0.5s;

    /* background-color: rgba(0, 0, 0, 0.6); */
    background: linear-gradient(to right, rgba(0, 183, 255, 0.7), 80%, rgba(0, 0, 0, 0.5));
    border: 1px solid white;
}

.diploma_slider {
    width: 100%;
    overflow: hidden;

    white-space: nowrap;
    padding: 10px 0;

    background-color: black;
}

.slider_text2 {
    display: inline-block;
    padding-left: 100%;

    font-size: 1rem;
    animation: scrollText2 12s linear infinite;
}

.slider_text2 a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.slider_text2 span {
    color: red;
    font-weight: bold;
    padding: 5px 4px;
}

@keyframes scrollText2{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

.ug_heading_div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 20px;
}

.ug_heading_div div{
    width: 33%;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;   
}

.ug_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.ug_div{
    max-width: 420px;
    width: 100%;
    height: 170px;

    padding: 15px;
    margin: 20px;

    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 1px 0px 2px 1px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: white;
    font-weight: bold;

    position: relative;
}

.ug_div p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;

    position: absolute;
    bottom: 0;
}

.ug_div h2 {
    text-align: center;
    font-size: 1.8rem;
}

.ug_div:hover {
    transform: translateY(-5px) scale(1.04);
    transition-duration: 0.5s;

    /* background-color: rgba(0, 0, 0, 0.6); */
    background: linear-gradient(to right, rgba(0, 183, 255, 0.7), 80%, rgba(0, 0, 0, 0.5));
    border: 1px solid white;
}

.ug_slider{
    width: 100%;
    overflow: hidden;

    padding: 10px 0;
    white-space: nowrap;
    background-color: black;
}

.slider_text3{
    animation: scrollText3 12s linear infinite;
    display: inline-block;
    padding-left: 100%;
    font-size: 1rem;
}

.slider_text3 a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.slider_text3 span {
    color: red;
    font-weight: bold;
    padding: 5px 4px;
}

@keyframes scrollText3 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.pg_heading_div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.pg_heading_div div{
    width: 100%;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.pg_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pg_div{
    max-width: 420px;
    width: 100%;
    height: 170px;

    padding: 15px;
    margin: 20px;

    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 1px 0px 2px 1px rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: white;
    font-weight: bold;

    position: relative;
}


.pg_div p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;

    position: absolute;
    bottom: 0;
}

.pg_div h2 {
    text-align: center;
    font-size: 1.8rem;
}

.pg_div:hover {
    transform: translateY(-5px) scale(1.04);
    transition-duration: 0.5s;

    /* background-color: rgba(0, 0, 0, 0.6); */
    background: linear-gradient(to right, rgba(0, 183, 255, 0.7), 80%, rgba(0, 0, 0, 0.5));
    border: 1px solid white;
}

.pg_slider{
    width: 100%;
    overflow: hidden;

    padding: 10px 0;
    white-space: nowrap;
    background-color: black;
}

.slider_text4{
    animation: scrollText4 12s linear infinite;
    display: inline-block;
    padding-left: 100%;
    font-size: 1rem;
}

.slider_text4 a{
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}
.slider_text4 span{
    color: red;
    font-weight: bold;
    padding: 5px 4px;
}

@keyframes scrollText4{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.academics_heading{
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #45a2ff, 50%, white);
    color: white;
    font-weight: bold;
}

.academics_heading h2{
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* CONTACT PAGE */
/**************************************/
.contact_main{
    width: 100%;

    background-image: url(photos/campus3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 1px;
    user-select: none;

}
#contact_div{
    width: 100%;
    max-height: 200px;
    height: 90%;

    font-size: 2.7rem;
    font-weight: bold;
    color: #45a2ff;

    letter-spacing: 1.5px;
    padding: 10px;
}

.info_section{
    width: 100%;
    height: 100%;

    padding: 10px;
    margin-top: 10px;
}

.info_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sub_div{
    width: 340px;
    height: 150px;

    text-align: center;
    color: white;
    font-weight: 800;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 0px rgb(255, 255, 255);
    background: linear-gradient(to bottom, #45a2ff, 60%, rgb(207, 207, 207,0.5));

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub_div:hover{
    background: linear-gradient(to bottom, rgb(207, 207, 207,0.5),60%,#45a2ff);
    transform: translateY(-5px);
    transition-duration: .5s;
}

@media (max-width: 768px) {
    .grid3 {
        grid-template-columns: 1fr;

    }
}

.contact_section1{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 10px;
}

.contact_div2{
    max-width: 520px;
    width: 100%;

    height: 270px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.input_box{
    position: relative;
    
}

.input_box input{
    width: 100%;
    height: 1.7rem;
    padding: 20px;
    margin-bottom: 1rem;

    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid white;
    outline: none;
}

.input_box label{
    position: absolute;
    left: 20px;
    top: 10px;

    font-size: 1rem;
    pointer-events: none;
}

.input_box input:focus + label,.input_box input:hover + label  , .input_box input:valid + label{
    top: -10px;
    left: 15px;

    transition-duration: .5s;

    font-size: 0.8rem;
    color: blue;
    font-weight: bold;
}

#upper_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

#submit{
    width: 120px;
    height: fit-content;

    text-align: center;
    padding: 10px;

    background-color: rgba(0, 183, 255);
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    letter-spacing: 1px;
    font-weight: bold;
}

.social_div{
    color: white;
    font-weight: bold;

    width: 100%;
    height: 100%;
}

#social_div_h1{
    height: 40%;
    width: 100%;

    padding: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    border: 2px solid white;
    background: linear-gradient(to bottom, #45a2ff, 70%, rgb(207, 207, 207,0.5));
}

.contact_div2_icons{
    padding: 4px;
}
.contact_div2_icons a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.contact_div2_icons i{
    padding: 5px;
    font-size: 1.4rem;

}

.gmap{
    width: 100%;
    height: 420px;

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map{
    width: 85%;
    height: 100%;

    border-radius: 20px;
    border: 2px solid white;
}

.contact_heading {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #45a2ff, 80%, white);
    color: white;
    font-weight: bold;
}

.contact_heading h2 {
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.about_main_section{
    height: 100%;
    width: 100%;

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
}

.about_main_section #about-banner img{
    max-height: 540px;
    height: 100%;
    width: 95%;

    box-shadow: 0px 0px 4px 4px rgb(0, 0, 0,0.5);
}

#about-banner{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 10px;
}

#about_info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

#about_info_d1{
    font-size: 2.2rem;
    color: #45a2ff;
}
#about_info_d2 span{
    font-size: 2rem;
}

#about_info_d2{
    font-size: 1rem;
    width: 100%;

    padding: 20px;
    margin-top: 20px;
    letter-spacing: 1px;

    box-shadow: 0px 0px 4px 4px rgb(255, 255, 255);
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 183, 255, 0.7), 50%, rgba(178, 178, 178, 0.9));
    border-bottom-right-radius: 4rem;
}

#call-to{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 2rem;
}

#join_us{
    width: 120px;
    height: 100%;

    padding: 10px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #2e97ff;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

#apply_now{
    width: 120px;
    height: 100%;

    padding: 10px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #2e97ff;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

#call-to a:hover{
    transform: translateY(-5px) scale(1.02);
    transition-duration: .2s;

    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 179, 255,0.7);
    border-radius: 10px;
    
}